

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the counter cards */
/* .card { */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  */
  /* padding: 20px; */
  /* text-align: center; */
  /* background-color: #681010; */
/* } */

/* .navbar-nav {
  text-align: right;
}
.navbar .navbar-nav .nav-link {
  padding-right: 1em;
  color: #fff;
  font-size: 1.1em;
} */

